:root {
  --primary: white;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header-font {
  font-family: 'Ovo', serif;
  font-weight: 400;

}

.header-wrapper {
  background: var(--primary);
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0; /* position the header at the top of the screen */
  z-index: 1; /* ensure the header appears above other elements on the page */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-bg {
  background-color: var(--primary);
}

.background-img {
  background: url('./assets/landing-page-img.png') no-repeat center center fixed;
  background-size: cover;
}



/* .landing-page-background {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
} */

/* .landing-page-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/landing-page-img.png');
  background-size: cover;
  background-repeat: no-repeat;
} */

/* .blurred-bg {
  position: relative;
  left: 13%;
  right: 50%;
  transform: translate(-50%, 150%);
  overflow:hidden;
}

.blurred-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/landing-page-img.png');
  filter: blur(5px);
}

.text-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  color: var(--primary);
} */